
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    margin-top: 15px;
    
}

form {
    align-items: flex-start;
}

img {
    width: 900px;
    height: auto;
}

h1 {
    font-size: 36px;
}